<div class="content-header d-flex align-items-center justify-content-between px-5">
  <div class="user-photo">
    <img src="../../../../assets/img/Avatar.png" alt="imagem usuario">
  </div>

  <div class="actions-user d-flex ">
    <button class="button-icon"><img src="../../../../assets/img/icons/home-lg.svg" alt="icone home"></button>
    <button class="button-icon"><img src="../../../../assets/img/icons/eye.svg" alt="icone olho"></button>
    <button class="button-icon"><img src="../../../../assets/img/icons/repeat-alt.svg" alt="icone refresh"></button>
  </div>
</div>
